*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    overflow: hidden;
    font-family: system-ui;
}
.logo span{
    margin: 0px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(242, 126, 10);
}
.logo{
    margin: 0px;
    font-weight: bold;
    font-size: 20px;  
}
.sidenav{
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(4, 75, 75, 0.974);
    overflow: hidden;
}
.sidenav header{
font-size: 22px;
text-align: center;
line-height: 80px;
background: rgba(2, 31, 34, 0.991);
user-select: none;
}
.sidenav ul a{
    padding: 17px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgba(1, 9, 14, 0.991);
    display: block;
    box-sizing: border-box;
    border-top: 1px solid rgba(158, 141, 90, 0.428);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
.icon-a span{
    margin-right: 16px;
}
